body {position: relative;}

h1 {text-align: center; padding: 1rem;}
.month-selector {margin-bottom: 0;}
.month-selector-arrow {padding-top: 0.3rem; display: block;}
.span-month-name {display: block; text-align: center; font-weight: 500; font-size: 1.2rem; margin-bottom: 0.5rem;}
.table thead tr th, .table tbody tr td {text-align: center;}
.table a, .table a:hover, .table a:active {color:black; text-decoration: none;}
.day {display: block;}
.day-box {width: 100%; height: 100%;}
.bullet {/*display: inline-block;*/ color: white; font-size:1.5rem; line-height: 0.6rem;}
.row-bullet {margin: 0; padding: 0; text-align: center; line-height: 0;}

.bull-morning {color: black;}
.bull-afternoon {color: black;}
.bull-evening {color: black;}

.bull-uihong-severity-3 {color: #4285f4;}
.bull-uihong-severity-2 {color: #db3236;}
.bull-uihong-severity-1 {color: #f4c20d;}
.bull-uihong-severity-0 {color: #3cba54;}

.bull-got-poop {color: #844b1a;}

.bull-got-bleed-2 {color: #db3236;}
.bull-got-bleed-1 {color: #f4c20d;}
.bull-got-bleed-0 {color: #fff;}

.bg-morning {background-color: #db3236; border-color: #db3236;}
.bg-afternoon {background-color: #f4c20d; border-color: #f4c20d;}
.bg-evening {background-color: #3cba54; border-color: #3cba54;}

.form-group ul {list-style: none; padding-left: 0;}
.form-group ul li {display: inline-block; min-width: 150px; margin-bottom: 10px;}

.loading {
	width: 100%;
    height: 100%;
    display: block !important;
    position: fixed;
    background-image: url('../img/Spinner.gif');
    z-index: 100;
    background-position: center;
    background-size: 25% auto, cover;
    background-attachment: fixed, fixed;
    background-repeat: no-repeat, no-repeat;
    background-color: white;
    opacity: 1;
}

.ng-hide {
	transition: all linear 0.5s;
	opacity: 0;
}