			<h1 class="title">Detail View</h1>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">History Date</label>
				<div class="col">
					<input type="text" class="form-control" ng-model="historydate" readonly="readonly" />
				</div>
			</div>
			<hr/>
			<div class="form-check row">
				<label class="col-sm-2 col-form-label">Got Poop?</label>
			</div>
			<div class="form-check" ng-init="got_poop='0'">
			  <label class="form-check-label">
			    <input class="form-check-input" type="radio" ng-model="got_poop" value="0">
			    Sadly no.
			  </label>
			</div>
			<div class="form-check">
			  <label class="form-check-label">
			    <input class="form-check-input" type="radio" ng-model="got_poop" value="1">
			    Hell yeah!!
			  </label>
			</div>
			<hr/>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Food</label>
				<div class="col">
					<input type="text" class="form-control" name="food" ng-model="food" />
				</div>
			</div>
			<div class="form-group row">
				<div class="col">
					<select name="category" class="form-control" ng-model="category" ng-options="category.id as category.desc for category in categories">
					</select>
					<!-- <select name="category" class="form-control" ng-model="category" ng-init="category='morning'">
						<option value="morning" selected>Morning</option>
						<option value="afternoon">Afternoon</option>
						<option value="evening">Evening</option>
					</select> -->
				</div>
				<div class="col">
					<button type="submit" class="btn btn-primary" ng-click="addFood()">Add</button>
				</div>
			</div>
			<div class="form-group">
				<label><h3>Morning</h3></label>
				<ul>
					<li ng-repeat="food in det_morning"><span class="badge badge-danger" ng-click="deleteFood($index, 'morning')">X</span> {{food}}</li>
				</ul>
				<div class="form-check row">
					<label class="col-sm-2 col-form-label"><h5>Got Ui Hong in the Morning?</h5></label>
				</div>
				<div class="form-check" ng-init="uihong_severity_morning='0'">
				  <label class="form-check-label">
				    <input class="form-check-input" type="radio" ng-model="uihong_severity_morning" value="0">
				    Everything's okay. My stomach is flat like an airport.
				  </label>
				</div>
				<div class="form-check">
				  <label class="form-check-label">
				    <input class="form-check-input" type="radio" ng-model="uihong_severity_morning" value="1">
				    Slightly, bumping like polisi tidur.
				  </label>
				</div>
				<div class="form-check">
				  <label class="form-check-label">
				    <input class="form-check-input" type="radio" ng-model="uihong_severity_morning" value="2">
				    Oh my God! My stomach is going to explode!!
				  </label>
				</div>
				<hr/>
				<label><h3>Afternoon</h3></label>
				<ul>
					<li ng-repeat="food in det_afternoon"><span class="badge badge-danger" ng-click="deleteFood($index, 'afternoon')">X</span> {{food}}</li>
				</ul>
				<div class="form-check row">
					<label class="col-sm-2 col-form-label"><h5>Got Ui Hong in the Afternoon?</h5></label>
				</div>
				<div class="form-check" ng-init="uihong_severity_afternoon='0'">
				  <label class="form-check-label">
				    <input class="form-check-input" type="radio" ng-model="uihong_severity_afternoon" value="0">
				    Everything's okay. My stomach is flat like an airport.
				  </label>
				</div>
				<div class="form-check">
				  <label class="form-check-label">
				    <input class="form-check-input" type="radio" ng-model="uihong_severity_afternoon" value="1">
				    Slightly, bumping like polisi tidur.
				  </label>
				</div>
				<div class="form-check">
				  <label class="form-check-label">
				    <input class="form-check-input" type="radio" ng-model="uihong_severity_afternoon" value="2">
				    Oh my God! My stomach is going to explode!!
				  </label>
				</div>
				<hr/>
				<label><h3>Evening</h3></label>
				<ul>
					<li ng-repeat="food in det_evening"><span class="badge badge-danger" ng-click="deleteFood($index, 'evening')">X</span> {{food}}</li>
				</ul>
				<div class="form-check row">
					<label class="col-sm-2 col-form-label"><h5>Got Ui Hong in the Evening?</h5></label>
				</div>
				<div class="form-check" ng-init="uihong_severity_evening='0'">
				  <label class="form-check-label">
				    <input class="form-check-input" type="radio" ng-model="uihong_severity_evening" value="0">
				    Everything's okay. My stomach is flat like an airport.
				  </label>
				</div>
				<div class="form-check">
				  <label class="form-check-label">
				    <input class="form-check-input" type="radio" ng-model="uihong_severity_evening" value="1">
				    Slightly, bumping like polisi tidur.
				  </label>
				</div>
				<div class="form-check">
				  <label class="form-check-label">
				    <input class="form-check-input" type="radio" ng-model="uihong_severity_evening" value="2">
				    Oh my God! My stomach is going to explode!!
				  </label>
				</div>
			</div>
			<button type="submit" class="btn btn-primary" ng-click="saveFood()">Save</button>
			<button type="submit" class="btn btn-danger" ng-click="cancelFood()">Cancel</button>

			<div class="row">&nbsp;</div>