			<h1 class="title">Tanya {{currentTitle}}</h1>
			<table class="table month-selector">
				<tr>
					<td><span style="text-align:left;" class="month-selector-arrow" ng-click="prevMonth()">&#x2770;&#x2770;</span></td>
					<td><span class="span-month-name">{{currentMonthName}} {{currentYear}}</span></td>
					<td><span style="text-align:right;" class="month-selector-arrow" ng-click="nextMonth()">&#x2771;&#x2771;</span></td>
				</tr>
			</table>
			<table class="table">
				<thead><tr><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th><th>S</th></tr></thead>
				<tbody>
					<tr ng-repeat="row in rows">
						<td ng-repeat="column in row.columns">
							<a ng-if="column.day" href="#!detail/{{column.day}}">
								<div class="day-box">
									<span class="day">{{column.day}}</span>
									<div ng-show="modeDiary">
										<div class="row-bullet">
											<i class="bullet" ng-class="column.clsMorning">&bull;</i><i class="bullet" ng-class="column.clsAfternoon">&bull;</i><i class="bullet" ng-class="column.clsEvening">&bull;</i>
										</div>
										<div class="row-bullet">
											<i class="bullet" ng-class="column.clsUihongSeverityMorning">&bull;</i><i class="bullet" ng-class="column.clsUihongSeverityAfternoon">&bull;</i><i class="bullet" ng-class="column.clsUihongSeverityEvening">&bull;</i>
										</div>
										<div class="row-bullet">
											<i class="bullet" ng-class="column.clsGotPoop">&bull;</i>
										</div>
									</div>
									<div ng-show="modeBleed">
										<div class="row-bullet">
											<i class="bullet" ng-class="column.clsGotBleed">&bull;</i>
										</div>
									</div>
								</div>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col text-right">
					<button class="btn btn-danger" ng-hide="modeBleed" ng-click="setMode('bleed')">Bleed Mode</button>
				</div>
			</div>
			<div class="row">
				<div class="col text-right">
					<button class="btn btn-primary" ng-hide="modeDiary" ng-click="setMode('diary')">Diary Mode</button>
				</div>
			</div>