			<h1 class="title">What I Ate Today</h1>
			<table class="table month-selector">
				<tr>
					<td><span style="text-align:left;" class="month-selector-arrow" ng-click="prevMonth()">&#x2770;&#x2770;</span></td>
					<td><span class="span-month-name">{{currentMonthName}} {{currentYear}}</span></td>
					<td><span style="text-align:right;" class="month-selector-arrow" ng-click="nextMonth()">&#x2771;&#x2771;</span></td>
				</tr>
			</table>
			<table class="table">
				<thead><tr><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th><th>S</th></tr></thead>
				<tbody>
					<tr ng-repeat="row in rows">
						<td ng-repeat="column in row.columns">
							<a ng-if="column.day" href="#!detail/{{column.day}}">
								<div class="day-box">
									<span class="day">{{column.day}}</span>
									<!-- <span class="bullet" ng-class="column.clsMorning">&bull;</span><span class="bullet" ng-class="column.clsAfternoon">&bull;</span><span class="bullet" ng-class="column.clsEvening">&bull;</span><br/>
									<span class="bullet bull-uihong-severity-2">&bull;</span><span class="bullet bull-uihong-severity-1">&bull;</span><span class="bullet bull-uihong-severity-0">&bull;</span><br/>
									<span class="bullet bull-got-poop">&bull;</span> -->
									<div class="row-bullet">
										<i class="bullet" ng-class="column.clsMorning">&bull;</i><i class="bullet" ng-class="column.clsAfternoon">&bull;</i><i class="bullet" ng-class="column.clsEvening">&bull;</i>
									</div>
									<div class="row-bullet">
										<i class="bullet" ng-class="column.clsUihongSeverity">&bull;</i><i class="bullet" ng-class="column.clsGotPoop">&bull;</i>
									</div>
								</div>
							</a>
						</td>
					</tr>
				</tbody>
			</table>